In [3]:
import pandas as pd
person={
    "first": "Alex",
    "last": "Shilo",
    "email": "alex.pricker@gmail.com"
}
people={ "first": ["Alex","Serg"],
    "last": ["Shilo","Vaginsky"],
        "email": ["alex.pricker@gmail.com","sergvag@yandex.ru"] }
# df= pd.DataFrame(people)


people['last'][0]

'Shilo'

In [4]:
df= pd.DataFrame(people)

In [9]:
df[["last","email"]]

       last                   email
0     Shilo  alex.pricker@gmail.com
1  Vaginsky       sergvag@yandex.ru